openapi: 3.0.3
info:
  title: EBANX Payment Page API
  version: '1.0'
  description: >-
    Hosted EBANX checkout. The merchant submits payment parameters and EBANX
    renders the full payment UI, validates the customer input, processes the
    payment, and returns the customer to the merchant via a redirect URL.
  contact:
    name: EBANX Sales Engineering
    email: sales.engineering@ebanx.com
    url: https://docs.ebanx.com
servers:
  - url: https://api.ebanxpay.com
    description: Production environment
  - url: https://sandbox.ebanxpay.com
    description: Sandbox environment for testing
security:
  - integrationKey: []
paths:
  /ws/request:
    post:
      summary: Create Payment Page Request
      operationId: createPaymentPageRequest
      description: >-
        Create a hosted payment page session and return a redirect URL the
        merchant can send the customer to in order to complete the payment.
      tags: [PaymentPage]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [integration_key, payment]
              properties:
                integration_key: { type: string }
                payment:
                  type: object
                  properties:
                    name: { type: string }
                    email: { type: string, format: email }
                    document: { type: string }
                    country: { type: string }
                    merchant_payment_code: { type: string }
                    currency_code: { type: string }
                    amount_total: { type: number, format: float }
                    payment_type_code: { type: string, description: 'Optional. Pre-select a payment method or _all for the full menu.' }
                    redirect_url: { type: string, format: uri }
      responses:
        '200':
          description: Payment page session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  redirect_url: { type: string, format: uri, description: 'URL to send the customer to in order to complete payment.' }
                  payment:
                    type: object
                    properties:
                      hash: { type: string }
                      merchant_payment_code: { type: string }
components:
  securitySchemes:
    integrationKey:
      type: apiKey
      in: header
      name: x-ebanx-integration-key
